<!DOCTYPE html>
<html lang="en">


<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Website Design Templates">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Web Design Agency HTML Template">
    <meta name="description" content="Flyweb - Web Design Agency HTML Template">

    <!-- title  -->
    <title>Flyweb - Portfolio</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- custom css -->
    <link href="/css/custom.html" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <%- include('components/header') %>

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section top-position1 bg-img cover-background left-overlay-secondary" data-overlay-dark="7" data-background="/img/banner/page-title.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-start">
                            <div class="position-relative">
                                <h1>Portfolio Standard</h1>
                            </div>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="#!">Portfolio Standard</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PORTFOLIO
        ================================================== -->
        <section>
            <div class="container">
                <div class="row portfolio-gallery mt-n5">
                    <div class="col-md-6 col-xl-4 mt-5 wow fadeInUp" data-wow-delay="100ms" data-sub-html="<h4 class='text-white'>
                        <a href='https://profitabilitypartners.io/' class='text-white'>Fimlor Experience</a></h4><p>Branding</p>">
                        <div class="portfolio-style01 position-relative transition-hover h-100 bg-light">
                            <div class="portfolio-img overflow-hidden">
                                <img src="/portfolio/Profitability.png" alt="...">
                            </div>
                            <div class="portfolio-content p-4 text-center">
                                <h5 class="port-text d-block h4 portfolio-link"><a href="https://profitabilitypartners.io/">Profitability Partners</a></h5>
                                <span class="port-text text-primary mb-1 text-uppercase font-weight-600 small">Landing Website</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-5 wow fadeInUp" data-wow-delay="200ms" data-sub-html="<h4 class='text-white'><a href='https://myssticbyarzoo.com/' class='text-white'>Tech Websute Solution</a></h4><p>Development</p>">
                        <div class="portfolio-style01 position-relative transition-hover h-100 bg-light">
                            <div class="portfolio-img overflow-hidden">
                                <img src="/portfolio/Mysstic.png" alt="...">
                            </div>
                            <div class="portfolio-content p-4 text-center">
                                <h5 class="port-text d-block h4 portfolio-link"><a href="https://myssticbyarzoo.com/">Mysstic By Arzoo</a></h5>
                                <span class="port-text text-primary mb-1 text-uppercase font-weight-600 small">Ecommerce</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-5 wow fadeInUp" data-wow-delay="300ms" data-sub-html="<h4 class='text-white'><a href='https://songmines.com/' class='text-white'>App Platform Integration</a></h4><p>Web Design</p>">
                        <div class="portfolio-style01 position-relative transition-hover h-100 bg-light">
                            <div class="portfolio-img overflow-hidden">
                                <img src="/portfolio/Songmines.png" alt="...">
                            </div>
                            <div class="portfolio-content p-4 text-center">
                                <h5 class="port-text d-block h4 portfolio-link"><a href="https://songmines.com/">Songmines</a></h5>
                                <span class="port-text text-primary mb-1 text-uppercase font-weight-600 small">SAAS Website</span>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>

        <!-- FOOTER
        ================================================== -->
        <%- include('components/footer') %>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- jquery -->
    <script src="/js/core.min.js"></script>

    <!-- search -->
    <script src="search/search.js"></script>

    <!-- custom scripts -->
    <script src="/js/main.js"></script>

    <!-- form plugins js -->
    <script src="/quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="/quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>


</html>