<!DOCTYPE html>
<html lang="en">


<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Website Design Templates">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Web Design Agency HTML Template">
    <meta name="description" content="Flyweb - Web Design Agency HTML Template">

    <!-- title  -->
    <title>Flyweb - Team</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- custom css -->
    <link href="/css/custom.html" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <%- include('components/header') %>

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section top-position1 bg-img cover-background left-overlay-secondary" data-overlay-dark="7" data-background="/img/banner/page-title.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-start">
                            <div class="position-relative">
                                <h1>Our Team</h1>
                            </div>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="#!">Our Team</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- OUR TEAM
        ================================================== -->
        <section>
            <div class="container">
                <div class="row mt-n2-9 g-5">
                    <div class="col-md-6 col-lg-4 mt-2-9 wow fadeInUp" data-wow-delay="200ms">
                        <div class="team-style01">
                            <div class="image">
                                <a href="#"><img src="/team/amardeep.jpg" alt="..."></a>
                            </div>
                            <div class="text-start bg-light p-4">
                                <h3 class="mb-1"><a href="#">Amardeep Singh</a></h3>
                                <p class="mb-0 small text-primary">Fullstack Developer, co-Founder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-2-9 wow fadeInUp" data-wow-delay="300ms">
                        <div class="team-style01">
                            <div class="image">
                                <a href="#"><img src="/team/anish.jpg" alt="..."></a>
                            </div>
                            <div class="text-start bg-light p-4">
                                <h3 class="mb-1"><a href="#">Anish Pathak</a></h3>
                                <p class="mb-0 small text-primary">Fullstack Developer, co-Founder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-2-9 wow fadeInUp" data-wow-delay="400ms">
                        <div class="team-style01">
                            <div class="image">
                                <a href="#"><img src="/team/ajay.jpg" alt="..."></a>
                            </div>
                            <div class="text-start bg-light p-4">
                                <h3 class="mb-1"><a href="#">Ajay Sharma</a></h3>
                                <p class="mb-0 small text-primary">Digital Marketer, co-Founder</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-lg-4 mt-2-9 wow fadeInUp" data-wow-delay="200ms">
                        <div class="team-style01">
                            <div class="image">
                                <a href="team-details.html"><img src="/img/team/team-02.jpg" alt="..."></a>
                            </div>
                            <div class="text-start bg-light p-4">
                                <h3 class="mb-1"><a href="team-details.html">Jonathan Lont</a></h3>
                                <p class="mb-0 small text-primary">Web Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-2-9 wow fadeInUp" data-wow-delay="300ms">
                        <div class="team-style01">
                            <div class="image">                                
                                <a href="#!"><img src="/img/team/team-04.jpg" alt="..."></a>
                            </div>
                            <div class="text-start bg-light p-4">
                                <h3 class="mb-1"><a href="team-details.html">Maureen Centen</a></h3>
                                <p class="mb-0 small text-primary">Apps Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-2-9 wow fadeInUp" data-wow-delay="400ms">
                        <div class="team-style01">
                            <div class="image">
                                <a href="team-details.html"><img src="/img/team/team-01.jpg" alt="..."></a>
                            </div>
                            <div class="text-start bg-light p-4">
                                <h3 class="mb-1"><a href="team-details.html">Abdül Bierman</a></h3>
                                <p class="mb-0 small text-primary">Senior Manager</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <!-- FOOTER
        ================================================== -->
        <%- include('components/footer') %>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->


    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- jquery -->
    <script src="/js/core.min.js"></script>

    <!-- search -->
    <script src="/search/search.js"></script>

    <!-- custom scripts -->
    <script src="/js/main.js"></script>

    <!-- form plugins js -->
    <script src="/quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="/quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>


</html>